# Add the repository's code owners here
* @pagopa/p4pa-admins @pagopa/payments-cloud-admin @pagopa/p4pa-developers @antocalo @Benedetta-fabbri @RiccardoGiuliani @MScarsella @ElisKina-dev @Giuseppe-LaManna @dan-ntt @pelliccm @LeonardoPierangeliniNttData
